@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row text-center pt-2">
        <div class="col-12 col-md-4 offset-0 offset-md-4">
            <a href="dapper/spirits"
                class="btn btn-danger">
                Get it by Dapper!!
            </a>
        </div>
    </div>
    <div class="row text-center pt-2">
        <div class="col-12 col-md-4 offset-0 offset-md-4">
            <a href="ef/spirits"
                class="btn btn-success">
                I'm going the EF way!!
            </a>
        </div>
    </div>
</div>